$brightGreen: #9EFF36;
$darkGrey: #303030;
$pink: #FA5BA5;
$seafoamGreen: #42B983;
$burntOrange: #E6834A;
$lilacPurple: #9373C1;
$turquoiseBlue: #00B8A9;
$brightRed: #FF0000;

$whiteText: #fff;
$blackText: #000;